body {
	background-color: #FFFFFF;
	font-family: "Roboto", Arial, sans-serif;
}
.container {
	margin: 50px auto 40px auto;
	width: 600px;
	text-align: center; 
}
h1, h3 {
	font-size: 50px;
	font-weight: lighter;
}
.smiley {
	
}